*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-nav {
  text-align: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
}


.header__nav-logo {
    width: 100%;
    height: 100%;
    max-width: 25%;
    
    margin-left: 40px;

}
.navigation {
  display: flex;
  align-items: center;
  justify-content: right;
  min-height: 70px;
  padding: 20px;
  height: 100%;
}

.nav-link {
  padding: 50px;
  text-decoration: none;
}

#header__info {
  padding: 20px;
}

#header-img {
  height: 125px;
  width: 225px;
  width: 50%;
  margin-right: auto;
}
#about-us {
  text-align: center;
}

.about__info {
  text-align: left;
  margin-left: 30%;
  padding: 30px;
}
#pricing {
  text-align: center;
}
#menu__info {
  text-align: center;
  padding: 30px;
}

section.pricing {
  display: flex;
}
.block__border {
  border-style: solid;
  box-sizing: border-box
}

.btn {
  background-color: yellow;
}

#tenor {
background-color: grey;
margin: 0; 
}

#bass{
background-color: grey;
margin: 0; 

}
#valve{
background-color: grey;
margin: 0;
}