*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  text-align: center;
}
.header__nav-logo {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    flex: 1;
}
.navigation {
  display: flex;
  flex-direction: column;
  margin-left: 75%;
  justify-content: space-around;
}

.nav-link {
  padding: 50px;
  
}

#header__info {
  padding: 20px;
}

#header-img {
  height: 125px;
  width: 225px;
}
#about-us {
  text-align: center;
}

.about__info {
  text-align: left;
  margin-left: 30%;
  padding: 30px;
}
#pricing {
  text-align: center;
}
#menu__info {
  text-align: center;
  padding: 30px;
}

section.pricing {
  display: flex;
}
.block__border {
  border-style: solid;
  box-sizing: border-box
}

.btn {
  background-color: yellow;
}

#tenor {
background-color: grey;
margin: 0; 
}

#bass{
background-color: grey;
margin: 0; 

}
#valve{
background-color: grey;
margin: 0;
}